
		html, body {margin: 0; padding: 0; height: 100%; width: 100%; background-color: #f0f0f0; }
		.wrapper {font-family: "Microsoft YaHei",monospace,sans-serif; width: 90%; margin: auto; }
		.tree {}
		.tree > ul > li:before,
		.tree > ul > li:after{display: none; }
		.tree li {position: relative; list-style: none; margin: 0; padding: .5em 1em; color: #16a085; }
			.tree li:before,
			.tree li:after {content: ""; position: absolute; left: -.1em; top: -1.1em; width: 1em; }
			.tree li:before{height: 2.3em; border-bottom: 2px solid #16a085; }
			.tree li:after{height: 100%; border-left: 2px solid #16a085; }
			.tree li:nth-child(1):before{height: 1em; top: .2em; }
			.tree li:last-child:after{height: 2.3em; }
		.tree span {position: relative; z-index: 1; padding: .2em .5em .2em 1em; border-radius: .5em; background-color: #16a085; color: white; cursor: pointer; }
			.tree span i{margin-left: .5em; }
		.tree span a{
			text-decoration:none;
		}
		.treeActive{
			background-color: red;
		}