
#headDiv{
    position: fixed;
    width: 100%;
    /*left: 0px;*/
    top:0px;
    z-index: 9999;
    padding: 0px 0px 0px 0px;
    border:lightgray 1px solid;
    height: 57px;
    background-color: #f0f0f0;
}
#logoStyle{
    display: inline;
    padding: 0px 10px 0px 15px;
    line-height: 50px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
#head li {
    display:inline;
    margin: 0;
    padding: 0;
    color: #428bca;
}
a:link{
    text-decoration:none;
}
#head li  a{
    display:inline;
    margin-left: 2.5%;
    cursor:pointer ;
    padding: 13px 10px 5px 10px;    
}
/*#head li h4 a{*/
/*    text-decoration:none;*/
/*}*/
#head li h4 a:hover{
    background-color: gray;
}
#head .headActive{
    color: red;
}
#footerSon{
    margin: 0px auto;
    width: 300px;
}
#footer{
    position: fixed;
    width: 100%;
    /*left: 0px;*/
    bottom:0px;
    z-index: 9999;
    padding: 0px 0px 0px 0px;
    border:lightgray 1px solid;
    height: 27px;
    background-color: #f0f0f0;
}

.fr-wrapper > div[style*='z-index: 9999'] {
    /*position: absolute;
    top: -10000px;
    opacity: 0;*/
    display: none;
    }