
#headDiv{
    position: fixed;
    width: 100%;
    /*left: 0px;*/
    top:0px;
    z-index: 9999;
    padding: 0px 0px 0px 0px;
    border:lightgray 1px solid;
    height: 57px;
    background-color: #f0f0f0;
}
#logoStyle{
    display: inline;
    padding: 0px 5px 0px 10px;
    line-height: 40px;
    font-size: 35px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
#head li {
    margin-left:20px ;
    /* display:inline;
    margin: 0;
    padding: 0;
    color: #428bca; */
}
a:link{
    text-decoration:none;
}
#headDivHei{
    z-index: 999;
    background-color: #f0f0f0;
}
#head .headActive{
    color: red;
}
#footerSon{
    margin: 0px auto;
    width: 400px;
}
#footer{
    position: fixed;
    width: 100%;
    /*left: 0px;*/
    bottom:0px;
    z-index: 9999;
    padding: 0px 0px 0px 0px;
    border:lightgray 1px solid;
    height: 27px;
    background-color: #f0f0f0;
}
#footerTop{
    height: 40px;
}
.fr-wrapper > div[style*='z-index: 9999'] {
    /*position: absolute;
    top: -10000px;
    opacity: 0;*/
    display: none;
    }
.contentMargin{
    margin-right: 20px;
    margin-left: 20px;
}
p[data-f-id="pbf"]>a[title="Froala Editor"]{
    opacity: 0;
}
p[data-f-id="pbf"]{
    display: none;
}
.container{
    padding-left: 0px;
    padding-right: 0px;
}

.fr-view table[class~='noTableBorder']{
    border: 0px;
}
.fr-view td[class~='noTableCellBorder']{
    border: 0px;
}
.fr-view td[class~='noTableCellBorder-left']{
    border-left: 0px;
}
.fr-view td[class~='noTableCellBorder-right']{
    border-right: 0px;
}
.fr-view td[class~='noTableCellBorder-top']{
    border-top: 0px;
}
.fr-view td[class~='noTableCellBorder-bottom']{
    border-bottom: 0px;
}